%h5
  = sf_case.meta[:subject]
  %p{style: 'float:right'}
    = sf_case.meta[:casenumber]
  %hr
%ul.nav.nav-tabs.mainTabs{role: 'tablist'}
  %li.nav-item.case
    %a.nav-link.active{href: "#case#{sf_case.meta[:casenumber]}Action", role:'tab', 'data-toggle': 'tab', 'data-target':  "#case#{sf_case.meta[:casenumber]}Action"}
      Actions
  %li.nav-item.case
    %a.nav-link{href: "#case#{sf_case.meta[:casenumber]}Box", role:'tab', 'data-toggle': 'tab', 'data-target':  "#case#{sf_case.meta[:casenumber]}Box"}
      Box
  %li.nav-item.case
    %a.nav-link{href: "#case#{sf_case.meta[:casenumber]}Salesforce", role:'tab', 'data-toggle': 'tab', 'data-target':   "#case#{sf_case.meta[:casenumber]}Salesforce"}
      Salesforce Native

  .tab-content.col-sm-12.col-md-12.col-xlg-12.offset-md-12.offset-lg-12.offset-xl-12{style: 'background: white; padding-bottom: 1em;'}
    .nav-pane.case.fade.in.active{role: 'tabpanel', id: "case#{sf_case.meta[:casenumber]}Action", class: "case#{sf_case.meta[:casenumber]}"}
      - sf_case.box_folders.each do |box_folder|
        .clearfix
          %button.btn.action{style: 'margin-top: 1em', data: {id: box_folder.id}}
            move to: #{box_folder.meta[:name]}
      .clearfix
      %button.btn.action{style: 'margin-top: 1em'}
        Add scrubbed chatter message

    .nav-pane.case.fade{role: 'tabpanel', id: "case#{sf_case.meta[:casenumber]}Box", class: "case#{sf_case.meta[:casenumber]}", style: 'display:none; max-height: 15em; overflow-y: scroll'}
      %form
        %ul.list-group{style: 'padding-left: 0px; list-style-type: none', class: 'droppable'}
          - sf_case.box_folders.each do |folder|
            = partial(:_box_folder, locals: {folder: folder, s_object: sf_case})
    .nav-pane.case.fade{role: 'tabpanel', id: "case#{sf_case.meta[:casenumber]}Salesforce", class: "case#{sf_case.meta[:casenumber]}", style: 'display:none'}
      %ul
        - sf_case.files.each do |file|
          %li.list-group-item.screenable{data: {id: BPImage.new(file).id, location: sf_case.cloud_path }}
            .text-xs-left
              %i.btn.btn-default.fa.fa-lg{class: iconify(file), style: 'box-shadow: 0 0 1px 1px black;float:left'}
            .clearfix
            = file.path.basename.to_s

  %p{style: 'float:right'}
    %a{href: "http://na34.salesforce.com/#{sf_case.id}", target: '_blank'}
      %button.btn-warning
        Go to original

:javascript
  $(document).ready(function() {
    $('.nav-item.case a').click(function(e) {
      e.preventDefault()
      var id = $(this).attr('href')
      console.log('id: ', id)
      $('.nav-pane.' + id.substring(1,13) ).hide()
      console.log('substring: ', '.nav-pane.' + id.substring(1,13))
      $('.nav-pane' + id).show()
    })
  })

:css
  .btn.action:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }
  .glow {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 45px rgba(145, 92, 182, 1);
  }
