%h5
  = sf_case.meta[:subject]
  %p{style: 'float:right'}
    = sf_case.meta[:case_number]
  %hr
%ul.nav.nav-tabs.mainTabs{role: 'tablist'}
  %li.nav-item.case
    %a.nav-link.active{href: "#case#{sf_case.meta[:case_number]}Action", role:'tab', 'data-toggle': 'tab', 'data-target':  "#case#{sf_case.meta[:case_number]}Action"}
      Actions
  %li.nav-item.case
    %a.nav-link{href: "#case#{sf_case.meta[:case_number]}Box", role:'tab', 'data-toggle': 'tab', 'data-target':  "#case#{sf_case.meta[:case_number]}Box"}
      Box
  %li.nav-item.case
    %a.nav-link{href: "#case#{sf_case.meta[:case_number]}Salesforce", role:'tab', 'data-toggle': 'tab', 'data-target':   "#case#{sf_case.meta[:case_number]}Salesforce"}
      Salesforce Native

  .tab-content.col-sm-12.col-md-12.col-xlg-12.offset-md-12.offset-lg-12.offset-xl-12{style: 'background: white; padding-bottom: 1em;'}
    .nav-pane.case.fade.in.active{role: 'tabpanel', id: "case#{sf_case.meta[:case_number]}Action", class: "case#{sf_case.meta[:case_number]}"}
      - sf_case.box_folders.each do |box_folder|
        .clearfix
          %button.btn.action{style: 'margin-top: 1em', data: {id: box_folder.id}}
            move to: #{box_folder.meta[:name]}
      .clearfix
      %button.btn.action{style: 'margin-top: 1em'}
        Add scrubbed chatter message

    .nav-pane.case.fade{role: 'tabpanel', id: "case#{sf_case.meta[:case_number]}Box", class: "case#{sf_case.meta[:case_number]}", style: 'display:none; max-height: 15em; overflow-y: scroll'}
      %form
        %ul.list-group{style: 'padding-left: 0px; list-style-type: none', class: 'droppable'}
          - sf_case.box_folders.each do |folder|
            %h3
              = folder.meta[:name]
            %li.list-group-item{id: folder.id}
              %fieldset
                %ul.list-group{style: 'list-style-type: none', class: 'droppable'}
                  - folder.files.each do |file|
                    %li.list-group-item.screenable{data: {id: BPImage.new(file).id, location: sf_case.cloud_path , sha1: file.sha1 }}
                      .text-xs-left
                        %i.btn.btn-default.fa.fa-lg{class: iconify(file), style: 'box-shadow: 0 0 1px 1px black;float:left'}
                      .clearfix
                      = file.path.basename.to_s

    .nav-pane.case.fade{role: 'tabpanel', id: "case#{sf_case.meta[:case_number]}Salesforce", class: "case#{sf_case.meta[:case_number]}", style: 'display:none'}
      %ul
        - sf_case.files.each do |file|
          %li.list-group-item.screenable{data: {id: BPImage.new(file).id, location: sf_case.cloud_path }}
            .text-xs-left
              %i.btn.btn-default.fa.fa-lg{class: iconify(file), style: 'box-shadow: 0 0 1px 1px black;float:left'}
            .clearfix
            = file.path.basename.to_s

  %p{style: 'float:right'}
    %a{href: "http://na34.salesforce.com/#{sf_case.id}", target: '_blank'}
      %button.btn-warning
        Go to original
    %a{href: "localhost:4545/#{sf_case.id}"}
      %button.btn-success
        Go to kitty

:css
  .btn.action:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }
  .glow {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 45px rgba(145, 92, 182, 1);
  }
