!!! 5
%head
  %title #{@opportunity.name}
  %link{ rel: 'stylesheet', href: '/stylesheets/bootstrap.css'}
  %link{ rel: 'stylesheet', href: '/stylesheets/font-awesome.min.css' }
  %link{ rel: 'stylesheet', href: '/stylesheets/bootstrap-editable.css' }
  %script{src: "/js/jquery-3.1.1.min.js"}
  %script{src: "/js/jquery.raptorize.1.0.js"}
  %script{src: "/js/bootstrap-editable.js"}
  %script{src: "/js/jquery.session.js"}
  %script{src: "/js/underscore.js"}
  %script{src: "/js/bootstrap.min.js"}
  %script{src: "/js/list.min.js"}
  %script{src: "/js/list.fuzzysearch.min.js"}
%body{style: "background-color: #0C1017; background-image: url('/domo_kun_and_tree_blossoms-wallpaper-1920x1080.jpg'); background-size: 100% 100% ; background-repeat:no-repeat; min-height: 70em"}
  %nav.navbar.navbar-dark
    %a.navbar-brand{href: '/'}
      Kitten Clicker
    %ul.nav.navbar-nav
      %li.nav-item
        %button.btn-success#kittyButton
          😺
      %li.nav-item
        %a.nav-link{href: '#'}
          Home
      -if session[:email]
        %li.nav-item
          %p{id: 'user_email', data: { email: session[:email] } }
            "logged in as #{session[:email]}
      -else
        %li.nav-item
          %a.nav-link{href: '#'}
            Login
      %li.nav-item
        %button.btn.btn-primary.btn-lg.refresh_page_data{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
          Refresh
  = partial(:_refresh_modal)
  .container-fluid
    .row
      - if @image
        - case @image.ext
        - when '.pdf'
          %embed.source-file.preview-window.col-sm-6.col-md-6.col-lg-6.col-xl-6{src: @full_path, type: 'application/pdf', style: "min-height: 40em; float: left; padding: 0px 0px"}
        - when '.png'
          %img.source-file.preview-window.col-sm-6.col-md-6.col-lg-6.col-xl-6{src:   @full_path, style: "height: 40em"}
        - when '.jpg'
          %img.source-file.preview-window.col-sm-6.col-md-6.col-lg-6.col-xl-6{src:  @full_path, style: "height: 40em"}
      -else
        %embed.source-file.preview-window.col-sm-6.col-md-6.col-lg-6.col-xl-6{src: '', type: 'application/pdf', style: "min-height: 40em; float: left; padding: 0px 0px"}

      .col-sm-6.col-md-6.col-xlg-6.offset-md-0.offset-lg-0.offset-xl-0{style: 'background: rgb(50,54,57); color: rgb(229,230,230); height: 9em; padding: 2em; margin-bottom: 2em'}
        - if @image
          .file-data
            %i.btn.btn-danger.fa.fa-md.fa-trash.deleteable{id: @image.id, style: 'float: right'}
            %h5.inline-editable.image-name{style: 'float: left'}
              %b
                Name:
              %a{data: {id: @image.id}}
                #{@image.name}
            .clearfix
            %h5.image-location
              %b
                Location:
              %span.cloud_path
                #{@image.cloud_path}
        - else
          .file-data
            %i.btn.btn-danger.fa.fa-md.fa-trash.deleteable{id: nil, style: 'float: right'}
            %h5.inline-editable.image-name{style: 'float: left'}
              %b
                Name:
              %a{data: {id: nil}}
                No File Data
            .clearfix
            %h5.image-location
              %b
                Location:
              %span.cloud_path
                No File Location
      #opportunity.col-sm-6.col-md-6.col-xlg-6.offset-md-0.offset-lg-0.offset-xl-0{style: 'background: rgba(256, 256, 256, .6); padding: 2em ;height: 29em; max-height: 30em'}
        %h3#oppName
          #{@opportunity.name}
        %form{ action: 'categorize', method: "POST"}
          %input{type: :hidden, name: :path, value: @full_path}
          %input{type: :hidden, name: :type, value: @type}
          %input{type: :hidden, name: :size, value: @size}
          %input{type: :hidden, name: :fingerprint, value: 'fingerprint'}
        .actions{style: 'float: right'}
          %button.btn-warning
            %a{href: "http://na34.salesforce.com/#{@opportunity.id}", target: '_blank', style: 'color: white'}
              Go to Opportunity

        = partial(:opportunity, locals: {opportunity: @opportunity})

    %br
    %h4.col-lg-6{style: 'color: white'} Cases
    %br
    .row
      .clearfix
      - @cases.each do |sf_case|
        .card.col-xl-3{style: 'background: rgba(256, 256, 256, .8); max-height: 25em, overflow: scroll'}
          .card-block
            =partial(:case, locals: {sf_case: sf_case})
      .card.col-xl-3#s_drive{style: 'background: rgba(256, 256, 256, .8); max-height: 25em, overflow: scroll'}
        .card-block
          = partial(:s_drive, locals: {s_drive_docs: @s_drive_docs})

  :javascript

    $.fn.editable.defaults.mode = 'inline';
    $(document).ready(function() {

      $('#kittyButton').raptorize();

      $('.btn.action').hover(
        function(){ $('.source-file').addClass('glow') },
        function(){ $('.source-file').removeClass('glow') }
      );

      window.file_title = $('h5.inline-editable.image-name')
      $('.refresh_page_data').on('click', function(e){
         e.preventDefault();
         id = document.location.pathname.split('/').slice(-1)[0]
         $.ajax({
            url: '/refresh/' + id,
            timeout: 1000*60*3,
            success: function(){ window.location.reload()}
         })
      })

      $('.screenable').click(function(e){
        file_title = $('h5.inline-editable.image-name')
        id = $(this).data('id')
        $.getJSON('/file/' + id, function( data ) {
          new_pdf = $('.preview-window').attr('src', data.image_path ).hide()
          $('.preview-window').remove()
          $('.container-fluid .row:first').prepend(new_pdf)
          $('.preview-window').fadeIn();
          local_file_data = "<h5 class='inline-editable image-name'><b>Name: </b><a class='editable editable-click' data-id='" + data.id + "'>" + data.name + "</h5></a>"
          $('h5.inline-editable.image-name').remove()
          danger_button = $('.file-data .btn-danger').attr('id', data.id)
          $('.file-data .btn-danger').remove()
          $('.file-data').prepend(local_file_data)
          $('.file-data').prepend(danger_button)
          $('.file-data .image-location .cloud_path').text(data.location)
          /* duplicate */
          $('.file-data a').editable(
            {
              type: 'text',
              name: 'file_name',
              pk: function(){console.log($(this).data('id')); return $(this).data('id')},
              params: {email: $('#user_email').data('email')},
              url: '/edit_file_name'
            }
          );
        })
      })

      $('i.deleteable').click(function(e){
        e.preventDefault();
        e.stopPropagation();
        id_to_delete = $(this).parent().data('id')
        delete_confirm = confirm('do you want to delete?')
        if (delete_confirm) {
          $.post('/delete_file',
            {
              file_id: id_to_delete
            },
            function(response) {
              console.log(response)
            }
          )
        }
      })

      $('.file-data a').editable(
        {
          type: 'text',
          name: 'file_name',
          pk: function(){console.log($(this).data('id')); return $(this).data('id')},
          params: {email: $('#user_email').data('email')},
          url: '/edit_file_name'
        }
      );

      $('.action').click(function(e){
        e.preventDefault()
        lol_confirm = confirm("move: " + $('.file-data a').data('id') + "to: " + $(this).data('id'));

        if (lol_confirm) {
          $.post('/move_file',
            {
              destination_id: $(this).data('id'),
              file_id: $('.file-data a').data('id'),
              email: $('#user_email').data('email')
            },
            function(response) {
              console.log(response)
              home = $("ul.droppable li#" + response.destination_id )
              item = $("li[data-id='" + response.original_id + "']")
              home.append(item)
              item.hide()
            },
            'json'
          );
        }
      })
    });

  :css
    .screenable{
      box-shadow: 0 0 1px 1px black;
      list-style-type: none;
      display: inline-block;
      float: left;
      width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .tab-content > .active{
      max-height: 15em;
      overflow-y: scroll;
    }
    .list-group-item.screenable{
      padding-left: 0px;
    }

